* {
  margin: 0;
  padding: 0;
}

@keyframes blinker {
  50% {
    background-color: orange;
  }
}

.neumorphic {
  border-radius: 22px;
  background: #f959de;
  box-shadow:  7px 7px 14px #b340a0,
               -7px -7px 14px #ff72ff;
}

.neumorphic-lightPink {
  border-radius: 36px;
  background: #fdfcff;
  box-shadow:  13px 13px 26px #cfcfd1,
             -13px -13px 26px #ffffff;
}
.neumorphic-orig-drumkit {
  border-radius: 5px;
  background: #f8d2fc;
  box-shadow:  20px 20px 60px #d7d6d9,
         -20px -20px 60px #ffffff;
}